@mixin set-font($weight, $size, $line-height, $color) {
  font-weight: $weight;
  font-size: $size + px;
  line-height: $line-height + px;
  color: $color;
}

// Header
@mixin H1($color) {
  @include set-font(700, 44, 60, $color);
}

@mixin H2($color) {
  @include set-font(700, 30, 44, $color);
}

@mixin H3($color) {
  @include set-font(700, 22, 32, $color);
}

@mixin H4($color) {
  @include set-font(700, 18, 24, $color);
}

@mixin m-H1($color) {
  @include set-font(700, 22, 32, $color);
}

@mixin m-H2($color) {
  @include set-font(700, 20, 28, $color);
}

@mixin m-H3($color) {
  @include set-font(700, 18, 24, $color);
}

@mixin m-H4($color) {
  @include set-font(700, 16, 24, $color);
}

// Body
@mixin Body($color) {
  @include set-font(400, 14, 20, $color);
}

@mixin Body-S($color) {
  @include set-font(400, 12, 24, $color);
}

@mixin Body-L($color) {
  @include set-font(400, 16, 24, $color);
}

@mixin Body-XL($color) {
  @include set-font(500, 18, 24, $color);
}

@mixin Price($color) {
  @include set-font(700, 14, 20, $color);
}

@mixin Price-Old($color) {
  @include set-font(700, 14, 20, $color);
  text-decoration: line-through;
}

@mixin Price-S($color) {
  @include set-font(400, 12, 16, $color);
}

@mixin Price-S-Old($color) {
  @include set-font(400, 12, 16, $color);
  text-decoration: line-through;
}

@mixin Price-L($color) {
  @include set-font(700, 16, 24, $color);
}

@mixin Price-L-Old($color) {
  @include set-font(700, 16, 24, $color);
  text-decoration: line-through;
}

@mixin Price-XL($color) {
  @include set-font(700, 18, 24, $color);
}

@mixin Price-XL-Old($color) {
  @include set-font(700, 18, 24, $color);
  text-decoration: line-through;
}

@mixin m-Body($color) {
  @include set-font(400, 12, 16, $color);
}

@mixin m-Body-S($color) {
  @include set-font(400, 10, 12, $color);
}

@mixin m-Body-L($color) {
  @include set-font(400, 14, 20, $color);
}

@mixin m-Body-XL($color) {
  @include set-font(500, 16, 24, $color);
}

@mixin m-Price($color) {
  @include set-font(700, 12, 16, $color);
}

@mixin m-Price-Old($color) {
  @include set-font(700, 12, 16, $color);
  text-decoration: line-through;
}

@mixin m-Price-S($color) {
  @include set-font(400, 10, 16, $color);
}

@mixin m-Price-S-Old($color) {
  @include set-font(400, 10, 16, $color);
  text-decoration: line-through;
}

@mixin m-Price-L($color) {
  @include set-font(700, 14, 20, $color);
}

@mixin m-Price-L-Old($color) {
  @include set-font(700, 14, 20, $color);
  text-decoration: line-through;
}

@mixin m-Price-XL($color) {
  @include set-font(700, 16, 24, $color);
}

@mixin m-Price-XL-Old($color) {
  @include set-font(700, 16, 24, $color);
  text-decoration: line-through;
}
