$main-20: #f5e1d8;
$main-40: #ebc3b2;
$main-60: #e0a58b;
$main-80: #d68765;
$main-100: #cc693e;
$main-120: #a35432;
$main-140: #7a3f25;
$main-160: #522a19;
$main-180: #29150c;

$secondary-20: #ffeecc;
$secondary-40: #ffdc99;
$secondary-60: #ffcb66;
$secondary-80: #ffb933;
$secondary-100: #ffa800;
$secondary-120: #cc8600;
$secondary-140: #996500;
$secondary-160: #664300;
$secondary-180: #332200;

$black-10: #f1f1f1;
$black-20: #cccccc;
$black-30: #b3b3b3;
$black-40: #999999;
$black-50: #808080;
$black-60: #666666;
$black-70: #4d4d4d;
$black-80: #333333;
$black-90: #1a1a1a;
$black-100: #000000;

$white: #ffffff;
$green: #72e400;
$red: #ff0000;
$blue: #0047ff;
$yellow: #ffe600;
$dirty-red: #e30029;
$dirty-morgana: #e10095;
$dirty-violet: #ab00e7;
$dirty-navu-blue: #3e00ed;
$dirty-blue: #0086e7;
$dirty-aqua: #00c5d1;
$dirty-green: #00b247;
$dirty-light-green: #a1da00;
$dirty-yellow: #e7d000;
$dirty-orange: #f17400;
